h1 {
    color: darkolivegreen;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    font-weight: bolder;
    font-size: large;
    background-color: darkolivegreen;
}

p {
    font-style: oblique;
    color: darkgreen;
    font-size: 18px;
    font-style: oblique;
}

#greeny {
    background-color: lightgreen;
    width: 150px;
    height: 100px;
    padding: 10px;
}

#green {
    background-color: greenyellow;
    width: 180px;
    height: 100px;
    padding: 10px;
    margin: 0;
}

.destacado {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}